# Notebook 01: Veri Keşfi ve Tanımlayıcı İstatistik

Bu notebook, Enerji Perakende Veri Analizi Case Study'sinin ilk aşamasıdır. 
**Hedefler:**
- Veri setlerini yüklemek ve yapılarını incelemek.
- Temel veri temizliği ve doğrulama işlemlerini yapmak.
- Tanımlayıcı istatistiklerle veriyi anlamak.

---

## 1. Kütüphanelerin Yüklenmesi

Analiz için gerekli olan `pandas` ve `numpy` kütüphanelerini yüklendi.

In [1]:
import pandas as pd
import numpy as np

# Uyarıları kapatmak için (isteğe bağlı)
import warnings
warnings.filterwarnings('ignore')

## 2. Veri Setinin Yüklenmesi

`elektrik_veri_hashed.xlsx` dosyası içerisinde bulunan 5 farklı sheetin okunması.
1. **Tahsilat**: Ödeme kayıtları.
2. **Tahsilat 1**: Fatura bazlı ödeme zamanlaması verisi.
3. **Tahakkuk**: Hamamözü ilçesi tüketim verileri.
4. **Tahakkuk 1**: Gümüşhacıköy ilçesi tüketim verileri.
5. **Tahakkuk 2**: Göynücek ilçesi tüketim verileri.

In [2]:
file_path = '../data/elektrik_veri_hashed.xlsx'
xls = pd.ExcelFile(file_path)

print("Sayfa İsimleri:", xls.sheet_names)

# Verileri DataFrame'lere yükleme
df_tahsilat = pd.read_excel(xls, sheet_name='Tahsilat')
df_tahsilat_1 = pd.read_excel(xls, sheet_name='Tahsilat 1')
df_tahakkuk_hamamozu = pd.read_excel(xls, sheet_name='Tahakkuk')
df_tahakkuk_gumus = pd.read_excel(xls, sheet_name='Tahakkuk 1')
df_tahakkuk_goynucek = pd.read_excel(xls, sheet_name='Tahakkuk 2')

# Boyutların kontrolü
print(f"Tahsilat Boyutu: {df_tahsilat.shape}")
print(f"Tahsilat 1 Boyutu: {df_tahsilat_1.shape}")
print(f"Tahakkuk Hamamözü Boyutu: {df_tahakkuk_hamamozu.shape}")
print(f"Tahakkuk Gümüşhacıköy Boyutu: {df_tahakkuk_gumus.shape}")
print(f"Tahakkuk Göynücek Boyutu: {df_tahakkuk_goynucek.shape}")

Sayfa İsimleri: ['Tahsilat', 'Tahsilat 1', 'Tahakkuk', 'Tahakkuk 1', 'Tahakkuk 2']
Tahsilat Boyutu: (636993, 9)
Tahsilat 1 Boyutu: (917632, 22)
Tahakkuk Hamamözü Boyutu: (124818, 10)
Tahakkuk Gümüşhacıköy Boyutu: (765657, 10)
Tahakkuk Göynücek Boyutu: (295223, 10)

## 3. Veri Yapısının İncelenmesi

Her bir DataFrame için `.info()`, `.describe()` ve `.head()` metodlarınn kullanılarak veri tipleri, eksik değerler ve temel istatistiklerin incelenmesi.

Tahsilat Verisi

In [3]:
print(f"\033[93m\n{'#'*20} Tahsilat İnceleme {'#'*20}\033[0m")

print(f"\n1. head")
display(df_tahsilat.head(3))
    
print(f"\n2. info")
df_tahsilat.info()
    
print(f"\n3. describe")
display(df_tahsilat.describe(include="all").T)

#################### Tahsilat İnceleme ####################

1. head

,Şube,Kasa,İlçe,Söz.hsp.(bağımsız),Tahsilat Tarihi,Nakit Tahsilat,Mahsuben Tahsilat,Kredi Kartı Tahsilatı,Banka Tahsilatı
0,Tayin edilmedi,Tayin edilmedi,TAŞOVA,4989745446,2023-11-06,NaN,8648.95,NaN,NaN
1,Tayin edilmedi,Tayin edilmedi,TAŞOVA,4989745446,2024-06-26,NaN,762.40,NaN,NaN
2,Tayin edilmedi,Tayin edilmedi,TAŞOVA,4989745446,2024-07-10,NaN,311.60,NaN,NaN

2. info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636993 entries, 0 to 636992
Data columns (total 9 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Şube                   636993 non-null  object
 1   Kasa                   636993 non-null  object
 2   İlçe                   636993 non-null  object
 3   Söz.hsp.(bağımsız)     636993 non-null  int64
 4   Tahsilat Tarihi        636993 non-null  datetime64[ns]
 5   Nakit Tahsilat         523 non-null     float64
 6   Mahsuben Tahsilat      7542 non-null    float64
 7   Kredi Kartı Tahsilatı  0 non-null       float64
 8   Banka Tahsilatı        628933 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(3)
memory usage: 43.7+ MB

3. describe

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
Şube,636993,26,AKTİFBANK,193135,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kasa,636993,76,AKT/PN,168183,NaN,NaN,NaN,NaN,NaN,NaN,NaN
İlçe,636993,4,TAŞOVA,289077,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Söz.hsp.(bağımsız),636993.0,NaN,NaN,NaN,5019884374.87975,175832.0,2532887116.0,5008502097.0,7525722213.0,9999599851.0,2884434992.844679
Tahsilat Tarihi,636993,NaN,NaN,NaN,2024-03-05 09:26:07.644856320,2023-01-01 00:00:00,2023-07-28 00:00:00,2024-02-26 00:00:00,2024-09-30 00:00:00,2025-05-31 00:00:00,NaN
Nakit Tahsilat,523.0,NaN,NaN,NaN,694.966635,7.45,425.33,524.67,688.83,11373.74,758.319428
Mahsuben Tahsilat,7542.0,NaN,NaN,NaN,6180.182282,-34508.95,44.4775,290.41,2729.11,399526.78,23828.022593
Kredi Kartı Tahsilatı,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Banka Tahsilatı,628933.0,NaN,NaN,NaN,372.629109,0.01,120.0,208.0,322.0,606473.8,3265.430202

Tahsilat 1 Verisi

In [4]:
print(f"\033[93m\n{'#'*20} Tahsilat 1 İnceleme {'#'*20}\033[0m")

print(f"\n1. head")
display(df_tahsilat_1.head(3))
    
print(f"\n2. info")
df_tahsilat_1.info()
    
print(f"\n3. describe")
display(df_tahsilat_1.describe(include="all"))

#################### Tahsilat 1 İnceleme ####################

1. head

,Mali yıl/dönem,İl,İlçe,Söz.hsp.(bağımsız),Hesap Sınıfı,Tahakkuk Tutar,Son Ödeme Tarihinden Önceki Tahsilat,Son Ödeme Tarihindeki Tahsilat,Son Ödeme (1),Son Ödeme (2),...,Son Ödeme (5),Son Ödeme (6-10),Son Ödeme (10-20),Son Ödeme (20-30),Son Ödeme (30-60),Son Ödeme (60-90),Son Ödeme (90-120),Son Ödeme (120-150),Son Ödeme (150-180),Son Ödeme (180+)
0,OCK 2023,AMASYA,GÖYNÜCEK,9374624783,Mesken,5.03,0.03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN
1,OCK 2023,AMASYA,GÖYNÜCEK,236184905,Mesken,26.46,0.06,26.4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,OCK 2023,AMASYA,GÖYNÜCEK,9657731015,Mesken,121.53,NaN,NaN,NaN,121.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

2. info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 917632 entries, 0 to 917631
Data columns (total 22 columns):
 #   Column                                Non-Null Count   Dtype
---  ------                                --------------   -----
 0   Mali yıl/dönem                        917632 non-null  object
 1   İl                                    917632 non-null  object
 2   İlçe                                  917632 non-null  object
 3   Söz.hsp.(bağımsız)                    917632 non-null  int64
 4   Hesap Sınıfı                          917632 non-null  object
 5   Tahakkuk Tutar                        917632 non-null  float64
 6   Son Ödeme Tarihinden Önceki Tahsilat  623908 non-null  float64
 7   Son Ödeme Tarihindeki Tahsilat        328193 non-null  float64
 8   Son Ödeme (1)                         20902 non-null   float64
 9   Son Ödeme (2)                         21664 non-null   float64
 10  Son Ödeme (3)                         18893 non-null   float64
 11  Son Ödeme (4)                         16995 non-null   float64
 12  Son Ödeme (5)                         7323 non-null    float64
 13  Son Ödeme (6-10)                      45708 non-null   float64
 14  Son Ödeme (10-20)                     48281 non-null   float64
 15  Son Ödeme (20-30)                     29005 non-null   float64
 16  Son Ödeme (30-60)                     23030 non-null   float64
 17  Son Ödeme (60-90)                     7184 non-null    float64
 18  Son Ödeme (90-120)                    3820 non-null    float64
 19  Son Ödeme (120-150)                   2302 non-null    float64
 20  Son Ödeme (150-180)                   1551 non-null    float64
 21  Son Ödeme (180+)                      4827 non-null    float64
dtypes: float64(17), int64(1), object(4)
memory usage: 154.0+ MB

3. describe

,Mali yıl/dönem,İl,İlçe,Söz.hsp.(bağımsız),Hesap Sınıfı,Tahakkuk Tutar,Son Ödeme Tarihinden Önceki Tahsilat,Son Ödeme Tarihindeki Tahsilat,Son Ödeme (1),Son Ödeme (2),...,Son Ödeme (5),Son Ödeme (6-10),Son Ödeme (10-20),Son Ödeme (20-30),Son Ödeme (30-60),Son Ödeme (60-90),Son Ödeme (90-120),Son Ödeme (120-150),Son Ödeme (150-180),Son Ödeme (180+)
count,917632,917632,917632,9.176320e+05,917632,9.176320e+05,623908.000000,328193.000000,20902.000000,21664.000000,...,7323.000000,45708.000000,48281.000000,29005.000000,23030.000000,7.184000e+03,3820.000000,2302.000000,1551.000000,4827.000000
unique,29,1,4,NaN,38,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,TEM 2024,AMASYA,TAŞOVA,NaN,Mesken,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,35717,917632,435394,NaN,797842,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,5.010893e+09,NaN,5.085794e+02,206.312521,547.264676,643.061367,553.709882,...,516.075436,558.643866,583.558553,801.017507,918.617756,1.257710e+03,671.639885,322.164222,393.359884,159.776611
std,NaN,NaN,NaN,2.883691e+09,NaN,5.052666e+03,2855.301668,3898.724314,5454.365338,5123.756510,...,3451.492687,6666.262578,7178.350454,7154.314816,7105.333937,2.007415e+04,5979.226329,3220.519683,5264.099250,2619.161924
min,NaN,NaN,NaN,1.758320e+05,NaN,-1.279328e+04,-12793.280000,0.000000,-70.000000,-296.930000,...,-752.000000,-100.660000,-962.000000,0.000000,-6837.000000,-7.010000e+02,-770.000000,-349.000000,0.000000,-15206.880000
25%,NaN,NaN,NaN,2.513721e+09,NaN,1.101500e+02,0.320000,116.600000,125.610000,112.922500,...,115.000000,121.905000,115.000000,109.000000,77.000000,4.285750e+01,30.330000,24.125000,23.000000,13.470000
50%,NaN,NaN,NaN,5.009565e+09,NaN,2.020700e+02,44.220000,210.990000,222.000000,211.000000,...,218.540000,213.590000,210.000000,220.880000,172.955000,1.070000e+02,76.000000,55.370000,49.000000,32.000000
75%,NaN,NaN,NaN,7.509497e+09,NaN,3.215700e+02,210.220000,334.270000,349.977500,333.000000,...,344.985000,330.000000,334.000000,382.470000,320.987500,2.195575e+02,164.000000,124.130000,106.500000,76.000000
max,NaN,NaN,NaN,9.999760e+09,NaN,1.173258e+06,799298.890000,429056.570000,393238.000000,319120.000000,...,158004.450000,550420.870000,550859.750000,694275.910000,221781.470000,1.051591e+06,150233.960000,89285.680000,169410.490000,141070.520000

Hamamözü (Tahakkuk) Verisi

In [5]:
print(f"\033[93m\n{'#'*20} Hamamözü (Tahakkuk) İnceleme {'#'*20}\033[0m")

print(f"\n1. head")
display(df_tahakkuk_hamamozu.head(3))
    
print(f"\n2. info")
df_tahakkuk_hamamozu.info()
    
print(f"\n3. describe")
display(df_tahakkuk_hamamozu.describe(include="all").T)

#################### Hamamözü (Tahakkuk) İnceleme ####################

1. head

,il,ilce,sozlesme_hesap_no,mali_yil_donem,fatura_tarihi,kayit_tarihi,vade_tarihi,hesap_sinifi,Hesap Sınıfı,kwh
0,AMASYA,HAMAMÖZÜ,917576806,2023-01-01,2023-01-12,2023-03-06,2023-01-23,M001,Mesken,1.79
1,AMASYA,HAMAMÖZÜ,917576806,2023-01-01,2023-02-09,2023-05-11,2023-02-20,M001,Mesken,2.60
2,AMASYA,HAMAMÖZÜ,917576806,2023-02-01,2023-02-09,2023-05-11,2023-02-20,M001,Mesken,1.23

2. info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124818 entries, 0 to 124817
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   il                 124818 non-null  object
 1   ilce               124818 non-null  object
 2   sozlesme_hesap_no  124818 non-null  int64
 3   mali_yil_donem     124818 non-null  object
 4   fatura_tarihi      124818 non-null  object
 5   kayit_tarihi       124818 non-null  object
 6   vade_tarihi        124818 non-null  object
 7   hesap_sinifi       124818 non-null  object
 8   Hesap Sınıfı       124818 non-null  object
 9   kwh                124818 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 9.5+ MB

3. describe

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
il,124818,1,AMASYA,124818,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ilce,124818,1,HAMAMÖZÜ,124818,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sozlesme_hesap_no,124818.0,NaN,NaN,NaN,5044916479.96015,2874543657.757234,2903944.0,2577471102.0,5027441889.0,7594089979.0,9991894452.0
mali_yil_donem,124818,31,2024-08-01,4222,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fatura_tarihi,124818,451,2024-07-12,4734,NaN,NaN,NaN,NaN,NaN,NaN,NaN
kayit_tarihi,124818,30,2024-10-08,9437,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vade_tarihi,124818,423,2024-07-22,4703,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hesap_sinifi,124818,28,M001,110682,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hesap Sınıfı,124818,28,Mesken,110682,NaN,NaN,NaN,NaN,NaN,NaN,NaN
kwh,124818.0,NaN,NaN,NaN,70.874619,389.217875,-1242.99,15.49,40.56,70.43,25941.6

Gümüşhacıköy (Tahakkuk 1) Verisi

In [6]:
print(f"\033[93m\n{'#'*20} Gümüşhacıköy (Tahakkuk 1) İnceleme {'#'*20}\033[0m")

print(f"\n1. head")
display(df_tahakkuk_gumus.head(3))
    
print(f"\n2. info")
df_tahakkuk_gumus.info()
    
print(f"\n3. describe")
display(df_tahakkuk_gumus.describe(include="all").T)

#################### Gümüşhacıköy (Tahakkuk 1) İnceleme ####################

1. head

,il,ilce,sozlesme_hesap_no,mali_yil_donem,fatura_tarihi,kayit_tarihi,vade_tarihi,hesap_sinifi,Hesap Sınıfı,kwh
0,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-01-01,2023-01-11,2023-03-06,2023-01-23,M001,Mesken,21.85
1,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-01-01,2023-02-10,2023-05-11,2023-02-20,M001,Mesken,44.50
2,AMASYA,GÜMÜŞHACIKÖY,7444449517,2023-02-01,2023-02-10,2023-05-11,2023-02-20,M001,Mesken,22.25

2. info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 765657 entries, 0 to 765656
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   il                 765657 non-null  object
 1   ilce               765657 non-null  object
 2   sozlesme_hesap_no  765657 non-null  int64
 3   mali_yil_donem     765657 non-null  object
 4   fatura_tarihi      765657 non-null  object
 5   kayit_tarihi       765657 non-null  object
 6   vade_tarihi        765657 non-null  object
 7   hesap_sinifi       765657 non-null  object
 8   Hesap Sınıfı       765657 non-null  object
 9   kwh                765657 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 58.4+ MB

3. describe

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
il,765657,1,AMASYA,765657,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ilce,765657,1,GÜMÜŞHACIKÖY,765657,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sozlesme_hesap_no,765657.0,NaN,NaN,NaN,5019916189.472705,2881723850.324021,256114.0,2519994967.0,5030422082.0,7517064694.0,9998330667.0
mali_yil_donem,765657,31,2024-07-01,26246,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fatura_tarihi,765657,758,2025-06-21,15746,NaN,NaN,NaN,NaN,NaN,NaN,NaN
kayit_tarihi,765657,30,2024-10-08,56751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vade_tarihi,765657,645,2024-07-01,16882,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hesap_sinifi,765657,36,M001,658189,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hesap Sınıfı,765657,36,Mesken,658189,NaN,NaN,NaN,NaN,NaN,NaN,NaN
kwh,765657.0,NaN,NaN,NaN,97.336632,1077.758336,-25370.64,18.57,48.31,82.72,153575.73

Göynücek (Tahakkuk 2) Verisi

In [7]:
print(f"\033[93m\n{'#'*20} Göynücek (Tahakkuk 2) İnceleme {'#'*20}\033[0m")

print(f"\n1. head")
display(df_tahakkuk_goynucek.head(3))
    
print(f"\n2. info")
df_tahakkuk_goynucek.info()
    
print(f"\n3. describe")
display(df_tahakkuk_goynucek.describe(include="all").T)

#################### Göynücek (Tahakkuk 2) İnceleme ####################

1. head

,il,ilce,sozlesme_hesap_no,mali_yil_donem,fatura_tarihi,kayit_tarihi,vade_tarihi,hesap_sinifi,Hesap Sınıfı,kwh
0,AMASYA,GÖYNÜCEK,9374624783,2023-01-01,2023-01-14,2023-03-06,2023-01-24,M001,Mesken,0.10
1,AMASYA,GÖYNÜCEK,9374624783,2023-01-01,2025-03-12,2025-05-09,2025-03-24,M001,Mesken,0.12
2,AMASYA,GÖYNÜCEK,9374624783,2023-02-01,2025-03-12,2025-05-09,2025-03-24,M001,Mesken,0.20

2. info
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 295223 entries, 0 to 295222
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   il                 295223 non-null  object
 1   ilce               295223 non-null  object
 2   sozlesme_hesap_no  295223 non-null  int64
 3   mali_yil_donem     295223 non-null  object
 4   fatura_tarihi      295223 non-null  object
 5   kayit_tarihi       295223 non-null  object
 6   vade_tarihi        295223 non-null  object
 7   hesap_sinifi       295223 non-null  object
 8   Hesap Sınıfı       295223 non-null  object
 9   kwh                295223 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 22.5+ MB

3. describe

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
il,295223,1,AMASYA,295223,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ilce,295223,1,GÖYNÜCEK,295223,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sozlesme_hesap_no,295223.0,NaN,NaN,NaN,4950566464.426748,2887724120.171966,1118550.0,2432854136.0,4928206069.0,7475616412.0,9997184778.0
mali_yil_donem,295223,31,2024-07-01,10113,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fatura_tarihi,295223,663,2024-07-16,9556,NaN,NaN,NaN,NaN,NaN,NaN,NaN
kayit_tarihi,295223,30,2024-10-08,21865,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vade_tarihi,295223,566,2023-12-25,10392,NaN,NaN,NaN,NaN,NaN,NaN,NaN
hesap_sinifi,295223,29,M001,257738,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hesap Sınıfı,295223,29,Mesken,257738,NaN,NaN,NaN,NaN,NaN,NaN,NaN
kwh,295223.0,NaN,NaN,NaN,89.669891,742.276369,-4208.64,17.86,45.09,77.14,105687.69

In [8]:
import ipywidgets as widgets
from IPython.display import display

dataframes_list = {
    "Tahsilat": df_tahsilat,
    "Tahsilat 1": df_tahsilat_1,
    "Hamamözü (Tahakkuk)": df_tahakkuk_hamamozu,
    "Gümüşhacıköy (Tahakkuk 1)": df_tahakkuk_gumus,
    "Göynücek (Tahakkuk 2)": df_tahakkuk_goynucek
}

tabs = []
tab_titles = list(dataframes_list.keys())

for name, df in dataframes_list.items():
    out = widgets.Output()
    with out:
        print(f"--- {name} İstatistikleri ---")
        display(df.head(3))
        df.info()
        display(df.describe(include='all').T)
    tabs.append(out)

children = widgets.Tab(children=tabs)
for i, title in enumerate(tab_titles):
    children.set_title(i, title)

display(children)

Tab(children=(Output(), Output(), Output(), Output(), Output()), selected_index=0, titles=('Tahsilat', 'Tahsil…

## 4. Benzersiz Müşteri Sayıları

Her ilçe için kaç farklı müşteri (`sozlesme_hesap_no`) olduğunun hesaplanması ve karşılaştırması.

In [9]:
musteri_sayisi_hamamozu = df_tahakkuk_hamamozu['sozlesme_hesap_no'].nunique()
musteri_sayisi_gumus = df_tahakkuk_gumus['sozlesme_hesap_no'].nunique()
musteri_sayisi_goynucek = df_tahakkuk_goynucek['sozlesme_hesap_no'].nunique()

print(f"Hamamözü Müşteri Sayısı: {musteri_sayisi_hamamozu}")
print(f"Gümüşhacıköy Müşteri Sayısı: {musteri_sayisi_gumus}")
print(f"Göynücek Müşteri Sayısı: {musteri_sayisi_goynucek}")

Hamamözü Müşteri Sayısı: 2981
Gümüşhacıköy Müşteri Sayısı: 18190
Göynücek Müşteri Sayısı: 7128

## 5. Tahakkuk Verilerinin Birleştirilmesi

3 ilçeye ait tahakkuk verilerinin tek bir DataFrame altında birleştirilmesi.

In [10]:
df_tahakkuk_hamamozu['Ilce_Adi'] = 'Hamamözü'
df_tahakkuk_gumus['Ilce_Adi'] = 'Gümüşhacıköy'
df_tahakkuk_goynucek['Ilce_Adi'] = 'Göynücek'

df_tahakkuk_tum = pd.concat([df_tahakkuk_hamamozu, df_tahakkuk_gumus, df_tahakkuk_goynucek], ignore_index=True)

print(f"\033[1mToplam Tahakkuk Kayıt Sayısı: {df_tahakkuk_tum.shape[0]}")
display(df_tahakkuk_tum.head())

ilceye_gore_musteri_sayisi = df_tahakkuk_tum.groupby("Ilce_Adi")["sozlesme_hesap_no"].count().sort_values(ascending=False)
print("\033[1mİlçeye Göre Tahakkuk Kayıt Sayısı")
display(ilceye_gore_musteri_sayisi)

unique_ilc_musteri_sayisi= df_tahakkuk_tum.groupby("Ilce_Adi")["sozlesme_hesap_no"].nunique().sort_values(ascending=False)
print("\033[1mİlçeye Göre Benzersiz Müşteri Sayısı")
display(unique_ilc_musteri_sayisi)

Toplam Tahakkuk Kayıt Sayısı: 1185698

,il,ilce,sozlesme_hesap_no,mali_yil_donem,fatura_tarihi,kayit_tarihi,vade_tarihi,hesap_sinifi,Hesap Sınıfı,kwh,Ilce_Adi
0,AMASYA,HAMAMÖZÜ,917576806,2023-01-01,2023-01-12,2023-03-06,2023-01-23,M001,Mesken,1.79,Hamamözü
1,AMASYA,HAMAMÖZÜ,917576806,2023-01-01,2023-02-09,2023-05-11,2023-02-20,M001,Mesken,2.60,Hamamözü
2,AMASYA,HAMAMÖZÜ,917576806,2023-02-01,2023-02-09,2023-05-11,2023-02-20,M001,Mesken,1.23,Hamamözü
3,AMASYA,HAMAMÖZÜ,917576806,2023-02-01,2023-03-10,2023-05-11,2023-03-20,M001,Mesken,2.56,Hamamözü
4,AMASYA,HAMAMÖZÜ,917576806,2023-03-01,2023-03-10,2023-05-11,2023-03-20,M001,Mesken,1.35,Hamamözü

İlçeye Göre Tahakkuk Kayıt Sayısı

Ilce_Adi
Gümüşhacıköy    765657
Göynücek        295223
Hamamözü        124818
Name: sozlesme_hesap_no, dtype: int64

İlçeye Göre Benzersiz Müşteri Sayısı

Ilce_Adi
Gümüşhacıköy    18190
Göynücek         7128
Hamamözü         2981
Name: sozlesme_hesap_no, dtype: int64

## 6. Veri Temizliği ve Kontrolü (kWh)

`kwh` sütunundaki negatif değerler, eksik veriler ve uç değerlerin analiz edilmesi.
- **Negatif değerler**: İptal edilen faturalar veya düzeltme kayıtları olabilir.
- **Eksik değerler**: Veri girişi hatası olabilir.

In [11]:
# Eksik Değer Kontrolü
print("kwh sütunundaki eksik değer sayısı:", df_tahakkuk_tum['kwh'].isna().sum())

# Negatif Değer Kontrolü
negatif_tuketim = df_tahakkuk_tum[df_tahakkuk_tum['kwh'] < 0]
print(f"\nNegatif tüketim kaydı sayısı: {len(negatif_tuketim)}\n")

print("Tanımlayıcı İstatistikler")
display(df_tahakkuk_tum['kwh'].describe())

kwh sütunundaki eksik değer sayısı: 0

Negatif tüketim kaydı sayısı: 151

Tanımlayıcı İstatistikler

count    1.185698e+06
mean     9.264207e+01
std      9.504052e+02
min     -2.537064e+04
25%      1.801000e+01
50%      4.662000e+01
75%      8.000000e+01
max      1.535757e+05
Name: kwh, dtype: float64

>Negatif kwh kayıtlarının olduğu kayıtların, yönetim ekibine sunulması için hatalı kayıtlar raporu adında kaydedilmesi.

In [12]:
negatif_tuketim.to_excel('../data/hatali_kayitlar_raporu.xlsx', index=False)

print(f"{len(negatif_tuketim)} adet hatalı kayıt hatali_kayitlar_raporu olarak kaydedildi.")

negatif_tuketim.sort_values(by="kwh", ascending=True).head()

151 adet hatalı kayıt hatali_kayitlar_raporu olarak kaydedildi.

,il,ilce,sozlesme_hesap_no,mali_yil_donem,fatura_tarihi,kayit_tarihi,vade_tarihi,hesap_sinifi,Hesap Sınıfı,kwh,Ilce_Adi
642557,AMASYA,GÜMÜŞHACIKÖY,3798287663,2025-04-01,2025-05-06,2025-07-09,2025-05-15,4,Belediye,-25370.64,Gümüşhacıköy
614593,AMASYA,GÜMÜŞHACIKÖY,5966038883,2023-08-01,2023-09-19,2023-10-31,2023-09-11,TA02,Tarımsal Faaliyetler (Kooperatif),-12574.78,Gümüşhacıköy
408766,AMASYA,GÜMÜŞHACIKÖY,6199137693,2024-08-01,2024-09-10,2024-12-09,2024-09-10,TA01,Tarımsal Faaliyetler (Şahıs),-9069.13,Gümüşhacıköy
398719,AMASYA,GÜMÜŞHACIKÖY,3971569485,2024-08-01,2024-09-10,2024-12-09,2024-09-10,TA01,Tarımsal Faaliyetler (Şahıs),-6851.44,Gümüşhacıköy
1113942,AMASYA,GÖYNÜCEK,7513817453,2025-03-01,2025-04-10,2025-06-10,2025-04-10,TA02,Tarımsal Faaliyetler (Kooperatif),-4208.64,Göynücek

> Temiz veri seti

In [13]:
df_tahakkuk_clean = df_tahakkuk_tum[df_tahakkuk_tum['kwh'] >= 0]

print(f"{'Orijinal Veri Sayısı':<24} : {len(df_tahakkuk_tum)}")
print(f"{'Temizlenmiş Veri Sayısı':<24} : {len(df_tahakkuk_clean)}")
df_tahakkuk_clean.head()

Orijinal Veri Sayısı     : 1185698
Temizlenmiş Veri Sayısı  : 1185547

,il,ilce,sozlesme_hesap_no,mali_yil_donem,fatura_tarihi,kayit_tarihi,vade_tarihi,hesap_sinifi,Hesap Sınıfı,kwh,Ilce_Adi
0,AMASYA,HAMAMÖZÜ,917576806,2023-01-01,2023-01-12,2023-03-06,2023-01-23,M001,Mesken,1.79,Hamamözü
1,AMASYA,HAMAMÖZÜ,917576806,2023-01-01,2023-02-09,2023-05-11,2023-02-20,M001,Mesken,2.60,Hamamözü
2,AMASYA,HAMAMÖZÜ,917576806,2023-02-01,2023-02-09,2023-05-11,2023-02-20,M001,Mesken,1.23,Hamamözü
3,AMASYA,HAMAMÖZÜ,917576806,2023-02-01,2023-03-10,2023-05-11,2023-03-20,M001,Mesken,2.56,Hamamözü
4,AMASYA,HAMAMÖZÜ,917576806,2023-03-01,2023-03-10,2023-05-11,2023-03-20,M001,Mesken,1.35,Hamamözü

Belirli bir değerin üzerindeki aşırı uç tüketimler ve bunların hangi sınıfa ait olduğunun gösterilmesi.

In [14]:
high_outliers = df_tahakkuk_clean[df_tahakkuk_clean['kwh'] > 10000]
print(f"10.000 kWh üzeri kayıt sayısı: {len(high_outliers)}")
display(high_outliers['Hesap Sınıfı'].value_counts().head())

10.000 kWh üzeri kayıt sayısı: 974

Hesap Sınıfı
Tarımsal Faaliyetler (Şahıs)               269
Tarımsal Faaliyetler (Kooperatif)          200
1 SAYILI CETVELDE YER ALAN KAMU İDARESİ     93
İçme-Kullanma Suyu (Belediye)               88
Ticari Faaliyet - Yazıhane                  84
Name: count, dtype: int64

## 7. Hesap Sınıfına Göre Tüketim İstatistikleri

Hangi abone grubunun ortalama ne kadar elektrik tükettiğinin incelenmesi.

In [15]:
hesap_sinifi_stats = df_tahakkuk_clean.groupby('Hesap Sınıfı')['kwh'].agg(['count', 'mean', 'median', 'std'])

hesap_sinifi_stats = hesap_sinifi_stats.sort_values(by='mean', ascending=False)

print("\nHesap Sınıfına Göre Tüketim Analizi")
display(hesap_sinifi_stats.round(2))

Hesap Sınıfına Göre Tüketim Analizi

,count,mean,median,std
Hesap Sınıfı,,,,
Karayolları Genel Müdürlüğü Aydınlatma,41,30203.43,36810.90,16963.57
Aritma Tesisleri,35,16594.17,16186.91,11656.71
Lisansız Üreticiler,180,16155.25,322.32,35926.42
Sanayi,187,7293.80,1531.68,13716.34
İçme-Kullanma Suyu (Belediye),417,5213.51,400.02,8948.07
Tarımsal Faaliyetler (Kooperatif),1616,3830.02,282.72,9454.76
Lisansız Üreticiler - Resmi Daire,36,1195.05,770.62,1229.58
"Resmi SAĞLIK KURULUŞLARI,RESMİ SPOR TES.",442,1154.74,239.90,3804.87
"Resmi Üniversite,Yük.Okul,Kurs,Yurt,Okul",476,883.89,285.41,1435.31
1 SAYILI CETVELDE YER ALAN KAMU İDARESİ,8500,688.44,23.86,3911.91
Köy İçme Suyu Temini ve Dağıtımı Tesisi,2460,676.94,208.66,1212.33
Belediye,2096,612.97,78.28,3303.38
Resmi Daire,1371,582.56,151.12,1693.00
Tarımsal Faaliyetler (Şahıs),17256,542.90,16.16,3627.81
Süt Toplama Merkezi,1127,432.15,187.50,1131.36
Ölçümsüz Aboneler (Resmi Daire),46,395.16,74.40,595.39
İç Tüketim,124,270.34,228.68,148.81
İktisadi İşletmeleri Hariç Dernek ve Vkf,279,183.49,89.76,205.34
Ticari Faaliyet - Yazıhane,91285,168.02,41.62,781.53
Diyanet Kuran Kursu,42,167.14,22.12,526.35
Şantiye ve Geçici Aboneler,6704,137.07,28.44,798.59
Büyükbaş-Küçükbaş Hayvancılık,1849,116.85,24.11,408.55
Resmi Daire Lojman,614,93.10,29.58,141.70
Şehit Aileleri ve Gaziler,2671,87.04,76.54,56.60
Balıkçılık ve Su Ürünleri Yetiştiriciliğ,124,85.36,79.38,42.12
İbadethane Isıtma/Soğutma/Lojman,10173,81.28,56.14,111.16
Doğal Afet Barınma,116,73.62,73.87,39.07
Mesken,1026503,55.62,47.37,73.69
"Kar Amacı Güden Dernek,Vakıf,Müze",243,43.78,13.52,74.31
Muhtarlık Hizmet Binaları,383,34.29,9.14,60.02
İbadethane Aydınlatma,3189,32.44,13.94,112.23
Belediye Park Bahçe Aydınlatma,349,31.95,18.39,38.47
"Bina Ort Kul (Asn,Hidr,Kapıcı Dai vb.)",3505,29.97,15.76,41.33
"Resmi Hayır Kurumları,Dernek,Vakıf,Müze",169,23.00,8.82,42.50
Cemevleri,916,10.71,5.62,16.45
Resmi İbadethane Isıtma/Soğutma/Lojman,7,9.10,5.00,9.35
Şantiye ve Geçici Aboneler (Belediye),16,1.95,0.10,3.14

## 8. Verileri Hazırlama ve Kaydetme

Tahsilat 1 verisindeki ay kısaltmalatının, ay numaralarıyla değiştirilmesi ve verilerdeki tarihlerin datetime tipine dönüştürülmesi.

In [16]:
#tahsilat 1
ay_kisa_map = {
    'OCK': '01',
    'ŞBT': '02',
    'MAR': '03',
    'NİS': '04',
    'MAY': '05',
    'HAZ': '06',
    'TEM': '07',
    'AGU': '08',
    'EYL': '09',
    'EKM': '10',
    'KSM': '11',
    'ARL': '12'
}

df_tahsilat_1['Mali yıl/dönem'] = (df_tahsilat_1['Mali yıl/dönem'].astype(str).str.strip().replace(ay_kisa_map, regex=True))

df_tahsilat_1['Mali yıl/dönem'] = pd.to_datetime(df_tahsilat_1['Mali yıl/dönem'],format='%m %Y',errors='coerce')

#tahsiilat
df_tahsilat['Tahsilat Tarihi'] = pd.to_datetime(df_tahsilat['Tahsilat Tarihi'], errors='coerce')

#tahakkuk
date_cols_tahakkuk = ['fatura_tarihi', 'kayit_tarihi', 'vade_tarihi', 'mali_yil_donem']

for col in date_cols_tahakkuk:
    df_tahakkuk_clean[col] = pd.to_datetime(df_tahakkuk_clean[col], errors='coerce')
    

print("Tahakkuk Veri Tipleri")
display(df_tahakkuk_clean.dtypes)
print("\nTahsilat Veri Tipleri")
display(df_tahsilat.dtypes)
print("\nTahsilat 1 Veri Tipleri")
display(df_tahsilat_1.dtypes)

Tahakkuk Veri Tipleri

il                           object
ilce                         object
sozlesme_hesap_no             int64
mali_yil_donem       datetime64[ns]
fatura_tarihi        datetime64[ns]
kayit_tarihi         datetime64[ns]
vade_tarihi          datetime64[ns]
hesap_sinifi                 object
Hesap Sınıfı                 object
kwh                         float64
Ilce_Adi                     object
dtype: object

Tahsilat Veri Tipleri

Şube                             object
Kasa                             object
İlçe                             object
Söz.hsp.(bağımsız)                int64
Tahsilat Tarihi          datetime64[ns]
Nakit Tahsilat                  float64
Mahsuben Tahsilat               float64
Kredi Kartı Tahsilatı           float64
Banka Tahsilatı                 float64
dtype: object

Tahsilat 1 Veri Tipleri

Mali yıl/dönem                          datetime64[ns]
İl                                              object
İlçe                                            object
Söz.hsp.(bağımsız)                               int64
Hesap Sınıfı                                    object
Tahakkuk Tutar                                 float64
Son Ödeme Tarihinden Önceki Tahsilat           float64
Son Ödeme Tarihindeki Tahsilat                 float64
Son Ödeme (1)                                  float64
Son Ödeme (2)                                  float64
Son Ödeme (3)                                  float64
Son Ödeme (4)                                  float64
Son Ödeme (5)                                  float64
Son Ödeme (6-10)                               float64
Son Ödeme (10-20)                              float64
Son Ödeme (20-30)                              float64
Son Ödeme (30-60)                              float64
Son Ödeme (60-90)                              float64
Son Ödeme (90-120)                             float64
Son Ödeme (120-150)                            float64
Son Ödeme (150-180)                            float64
Son Ödeme (180+)                               float64
dtype: object

Verilerin, yavaş okunan excel formatı yerine pickle olarak kaydedilmesi.

In [17]:
import os

# Klasör yoksa oluştur
if not os.path.exists('../processed_data'):
    os.makedirs('../processed_data')

df_tahakkuk_clean.to_pickle("../processed_data/tahakkuk_clean.pkl")
df_tahsilat.to_pickle("../processed_data/tahsilat_clean.pkl")
df_tahsilat_1.to_pickle("../processed_data/tahsilat_1_clean.pkl")
negatif_tuketim.to_pickle("../processed_data/hatali_kayitlar.pkl")

print("Tüm dosyalar 'processed_data' klasörüne .pkl formatında kaydedildi")

Tüm dosyalar 'processed_data' klasörüne .pkl formatında kaydedildi

MEHMET ENES TEMEL

mehmetenestemel@gmail.com